.topbanner {
    align-items: center;
    min-width: 100vw;
}

.nav{
    padding-left: 180px;
}

.form-container {
    margin-top: 20px;
}

.form-check{
    margin-top: 15px;
}

.form-check{
    margin-top: 15px;
}

#map{
    height: 500px;
}

.btn {
    margin-top: 15px;
}

.riskPic{
    margin-top: 10px;
}